<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Active Directory configuration -->
        <add key="ActiveDirectoryDomain" value="example.com" />
        <add key="ActiveDirectoryPath" value="LDAP://DC=example,DC=com" />

        <!-- data handling -->
        <add key="FilteredPhoneNumbers" value="01234 5678-0;01234 5678-5000" />

        <!-- path configuration -->
        <add key="TemplatePath" value=".\templates" />
        <add key="OutputPath" value=".\output" />
    </appSettings>
</configuration>
